.content {
    display: grid;
    place-content: center;
    gap: 1ch;
  }
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content {
    margin: auto;
  }
  .content {
    padding: 15vmin;
  }