.grid {
  display: grid;
  place-items: center; /*stays centered*/
  grid-gap: 10px;
  grid-template-areas: "A B C";
  grid-template-columns: repeat(auto-fill, minmax (150, 1fr));
  grid-template-columns: repeat(auto-fit, minmax (150, 1fr));
}

/*FLEX*/
/*automatic horizontal/vertical format. needs flex-wrap*/
.grid-ish {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.fex.child-element/*or .flex>* */ {
  flex: 1 1 150px; /*  Stretching: */
  flex: 0 1 150px; /*  No stretching: */

  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: calc(
    calc(500px - 100%) * 100
  ); /*500px is the limit to change format*/
}

/*Flex design patterns*/
.even-columns {
  display: flex;
}
.even-columns>*/*selects all children*/ {
  flex-basis: 100%;
}
