* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /*If the display's width goes under the max-width set above then this padding prevents edge-to-edge text on mobile.
We use 3em to provide top/bottom whitespace.
padding: 3em 1em; 
margin: auto; */
  color-scheme: light dark;
  scroll-behavior: smooth;
  line-height: 1.75;
  font-size: 18px;
}

body {
  min-height: 100dvh;
  font-family: system-ui;
  text-rendering: optimizeSpeed;
}

input,button,textarea,select {
  font: inherit;
  field-sizing: content;
}

img,svg,video,picture {
  pointer-events: none;
  max-width: 100%;
  display: block;
  height: auto;
}

p {
  max-inline-size: clamp(45ch 65ch 85ch);
  margin-inline: auto;
}

.anchor {
  anchor-name: --over-easy;
}

.positioned-element {
  position: fixed;
  position-anchor: --over-easy;
  position-area: block-end;
}
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }

  * {
    animation: none;
  }
}