* {
  margin: o;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
body {
  background-image: url(), url(); /*as many as i want*/
  background-repeat: no-repeat, repeat; /*2 values control different image. Separated by comma*/
  background-position: center; /*i can put a 1-4 values for more accurate position*/
}

.dark-theme {
  filter: invert(1) hue-rotate(180deg);
}
p {
  max-inline-size: 10ch; /*how many characters fit in the block
  this way the text is not fluent, taking the whole view-width. max 75ch*/
  font-size: calc(23px + 0.5vw);
  font-size: clamp(
    /*it sets limits to how much stretch or shrinks*/ 1.5rem,
    2.5vw,
    4rem
  );
}

li::marker {
  /*customize the color, size, or type of number or bullet for lists */
  content: "😍";
}
li:last-child::marker {
  content: "🤯";
}
.content-area {
  /*the browser doesn't render the content of the container
  pre-fix the height-width of the container*/
  content-visibility: auto;
  contain-intrinsic-size: 500px;
  /*similar to visibility but quicker in changes*/
  content-visibility: hidden;
}

.contact-btn a:active {
  top: 2px;
  transform: scale(0.98);
  /*filter to generically highlight content- on focus,hover*/
  filter: brightness();
}

/*Clip-path visual effect*/
i {
  background: rgb(9, 201, 153);
  border-radius: 30px;
  clip-path: circle(10% at 50% 0%);
  transition: all 0.5s ease-in-out;
}
i:focus {
  /*simulates a click. the element needs attribute: tabindex='0' */
}

/*media query*/
@media only screen and (max-width: 425px), (orientation: landscape/portrait) {
}

/*GLASSMORPHISM*/
.container {
  display: inline-block;
  background: rgba(255, 255, 255, 0.2);
  padding: 3em;
  border-radius: 3em;
  position: relative;
  z-index: 1;
  backdrop-filter: blur(40px);
  border: solid 2px transparent;
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}

.nav{
  scroll-padding-top: 1rem; /*adds padding so navigation doesn't cover the content*/
}

/*creates extra graphic on the element*/
h1{
  position: relative;
} h1::before{
  content: "";
  position: absolute;
}

/*Resizing*/
div{
  min-width: 200px;
  max-width: 400px;
  resize: both;
  overflow: hidden;
}