img {
  aspect-ratio: 16 / 9; /*keeps the aspect-ratio.*/
  /*similar to background-image properties but when an img is not background*/
  object-fit: contain;
  object-position: center;
  /*protect your img: attribute=> oncontextmenu="false"*/
  pointer-events: none;
  /*basic-responsive-provide width+height attributes!*/
  max-width: 100%;
  height: auto;
}

/*Wrap text around image*/
div .shapes{
    display: flow-root;
}
.shapes {
  width: 300px;
  float: left;
  shape-outside: url(); /*makes the text flow around the edges of an image*/
  shape-outside: circle(50%);
  shape-margin: 1rem; /*gives space between text+img*/
}
